<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Forms" version="4.1.0.581479" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Visual.Material" version="4.1.0.618606" targetFramework="xamarinios10" />
  <package id="Xamarin.iOS.MaterialComponents" version="72.2.0.1" targetFramework="xamarinios10" />
</packages>